<main>
    <section id="banner" class="banner">
        <div class="box">
           <h1>
            <span class="title1">Olá e bem-vindo ao meu portfólio!</span>
            <span class="title2">Rosário Baiano é meu nome, sou um programador júnior full-stack apaixonado por tecnologia e soluções inovadoras.</span>
           </h1>

           <p class="paragraph">O que você vai encontrar aqui? Minhas Habilidades e um pouco mais sobre mim.</p>

           <div class="buttons">
            <a href="#about"><i class="material-symbols-outlined">
                mood
            </i>Sobre mim</a>
            <a href="#skills"><i class="material-symbols-outlined">
                checklist
            </i>Habilidades</a>
           </div>
        </div>
           
    </section>
    
    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/BaianoX.jpg"  alt="foto de rosario baiano">
            </div>
            <div class="text">
                <h2>Sobre Mim</h2>

                <h3>Sou um desenvolvedor web júnior full-stack,
                apaixonado por transformar ideias em soluções digitais
                funcionais e elegantes. Minha especialidade está no 
                desenvolvimento com Angular e TypeScript, tecnologias 
                que me permitem criar experiências incríveis no front-end 
                enquanto conecto tudo ao back-end de forma eficiente.</h3>

                <p>Minha jornada no desenvolvimento web é guiada por curiosidade, 
                    determinação e uma vontade constante de aprender e melhorar. 
                    Adoro colaborar, enfrentar desafios e 
                    encontrar maneiras criativas de resolver problemas.</p>

                    <h4>🌱 O que me motiva?</h4>

                <p>A possibilidade de impactar positivamente as pessoas através 
                    da tecnologia. Seja criando interfaces dinâmicas ou otimizando processos, 
                    meu foco está em entregar valor e qualidade. As tecnologias que mais domino são <b>JavaScript</b>, <b>C#</b>, 
                    <b>TypeScript</b>, <b>SQL</b> e <b>Angular</b>.</p>

                    <h5>🚀 Por que estou aqui?</h5>

                    <p> 
                        Para compartilhar meu trabalho, me conectar com outros profissionais e, 
                        quem sabe, colaborar com você em projetos que façam a diferença!
                        
                        Obrigado por visitar! Sinta-se à vontade para explorar meus projetos, e
                        entrar em contato ou apenas deixar um “olá”.😊 </p>

                        <a href="#contact">Entre em contacto comigo!</a>
            </div>
        </div>
    </section>
</main>
